.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  width: 30%;
  box-sizing: border-box;
  border: 0.1rem solid var(--color-blue-dark);
  padding: 1rem;
  outline: none;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding-right: 0.5rem;
  flex-grow: 1;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-left: 1rem;
}

.search {
  background-color: var(--light-font-color);
  flex-grow: 1;
  border: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-left: 0.5rem;

  &:focus {
    outline: none;
  }
}
