.searchBar {
  width: 100% !important;
  padding-right: 3rem !important;
  margin: 0.05rem 3rem !important;
  background-color: var(--light-font-color-trans) !important;
}

.x {
  color: var(--light-font-color);
}

@media (max-width: 768px) {
  .searchBar {
    width: calc(100% - 2rem) !important; /* Adjust width to avoid overflow*/
    margin-top: 3rem;
    padding: 0.5rem;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .searchBar {
    margin-top: 1rem;
    width: calc(100% - 2rem) !important; /* Adjust width to avoid overflow*/
  }
}
