.Home{
  position: relative;
  padding: 20px;

}

body{
  background-image: url(/susan-q-yin-YQhhlCS9Hto-unsplash-kopi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
}
.header{
  color: var(--light-font-color);
  font-weight: bolder;
  font-size: 5rem;
  margin-top: 10rem;
  position: absolute;
  top: 50px;
  left: 20px;
  padding: 1rem;
  text-align: left;
  max-width: 50rem;
}

.paragraph {
  color: var(--light-font-color);
  font-size: 2rem;
  position: absolute;
  top: 11rem;
  left: 20px;
  padding: 1rem;
  max-width: 50rem;
}

.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

/* Responsive styling for screens smaller than 768px */
@media (max-width: 768px) {
  .header {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .paragraph {
    font-size: 1.5rem;
    top: 7rem;
  }
}

/* Very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .header {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .paragraph {
    font-size: 1rem;
    top: 5rem;
  }
}