.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 2rem 2rem;
  z-index: 10;
  font-weight: 500;

}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  transition: 0.25s ease;
  padding-left: 1rem;
}

.header h1 {
  font-weight: 700;
  font-size: 2.25rem;
  color: var(--light-font-color);
  margin: 0;
}

.links {
  display: flex;
  gap: 0.5rem;
  padding-right: 3rem;
  align-items: center;
}

.links a {
  color:var(--light-font-color);
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: none;
  border: none;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
  white-space: nowrap;

  &:hover {
    color: var(--footer-color);
  }
}

.links a.active {
  color: var(--active-light-font-color);
}

.searchBar{
  width: 100% !important; 
  padding-right: 3rem !important;
  margin: 0.05rem 3rem !important;
  background-color: var(--light-font-color-trans) !important;

}

/* Responsive styling for screens smaller than 768px */
@media (max-width: 768px) {
  /* Adjust navbar to stack title and links */
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    position: relative; /* Allows for absolute positioning of search bar */
  }

  .header {
    width: 100%;
    padding-left: 1rem;
  }

  /* Hide 'Readable' and show 'R' on mobile */
  .header h1 {
    font-size: 1.5rem;
    display: none;
  }

  /* Keep 'Readable' for larger screens */
  @media (min-width: 769px) {
    .header h1 {
      content: 'Readable';
    }
  }

  .header::after {
    content: 'R';
    display: block;
    font-size: 2.25rem;
    color: var(--light-font-color);
    font-weight: 700;
  }

  /* Position HOME and LIBRARY side by side above the search bar */
  .links {
    position: absolute;
    top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;
  }

  .link-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  /* Full-width search bar below HOME and LIBRARY */
  .searchBar {
    width: calc(100% - 2rem) !important; /* Adjust width to avoid overflow*/
    margin-top: 3rem;
    padding: 0.5rem;
    justify-content: center;
  }
}

/* Very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .header h1 {
    .header::after {
      font-size: 1.25rem;
    }

    .links a {
      font-size: 0.9rem;
      padding: 0.5rem;
    }

    .searchBar {
      margin-top: 1rem;
      width: calc(100% - 2rem) !important; /* Adjust width to avoid overflow*/
    }
  }
}