.LoadingButton {
  background-color: var(--light-font-color)!important;
  color: var(--background-color) !important;
  margin-bottom: 16px;
  border: none !important;
  width: 7rem;
  margin-left: 1rem;
}

.LoadingButton:hover {
  background-color: var(--light-font-color-trans) !important;
}
