.sidebar {
  height: 30rem;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 12rem;
  left: -280px;
  margin-left: 1rem;
  overflow-y: auto;
  padding-top: 15px;
  background-color: var(--light-font-color) !important;
  color: var(--footer-color) !important;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.sortingSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filteringSection {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
}

.sortingLabel {
  margin-bottom: 1rem;
  text-decoration: underline;
}

.filteringLabel {
  margin-bottom: 0.3rem;
  text-decoration: underline;
}

.trigger {
  border: solid 1px var(--footer-color) !important;
}

.toggleButton {
  background-color: var(--footer-color);
  color: var(--light-font-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  position: fixed;
  top: 8rem;
  left: 1rem;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: var(--active-light-font-color);
  color: (var(--background-color));
}

.filterItems input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .sidebar {
    left: -280px;
    top: 12rem;
  }

  .sidebar.open {
    left: 0;
  }

  .toggleButton {
    display: block;
  }
}

@media (min-width: 769px) {
  .sidebar {
    left: 0;
    top: 10rem;
  }

  .toggleButton {
    display: none;
  }
}
